@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins/font-face';

.basic-text-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  > p {
    @include font-face(400, 1em);
    white-space: nowrap;
    margin: 0;
  }

  .label {
    flex: 2;
    overflow-x: hidden;
    &.selected {
      border: $primary-border;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .value {
    flex: 3;
  }
}
