@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins/font-face';

.main-screen {
  $root: &;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 1116px;

  .title-bar {
    height: $top-bar-height;
    width: 100%;
    background-color: $background-color;
    color: $primary-color;
    border-right: $primary-border;
    border-bottom: $primary-border;

    .breadcrumb {
      margin: 0;
      padding-left: 23px;
      padding: $title-bar-padding;
      @include font-face(400, 20px);
    }
  }

  .screen {
    height: 100%;
    width: 100%;
    // background-image: url('../../../assets/images/draft/Screen\ Shot\ 2022-01-19\ at\ 1.01\ 1.png');
    // background-size: cover;
    // background-repeat: no-repeat;
  }
}
