@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins/font-face';

.detail-image {
  $root: &;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  .detail-image-preview {
    height: 200px;
    width: 200px;
    background-image: url(../../../assets/images/draft/rools-detail.png);
    border: 8px solid #fff;
    margin-bottom: 20px;
  }

  figcaption {
    .detail-image-title {
      margin-bottom: 15px;
      @include font-face(700, 1em);

      &:after {
        content: url(../../../assets/images/icons/zoom.png);
        margin-left: 20px;
      }
    }

    .detail-image-cost {
      @include font-face(400, 1em);
    }
  }
}
