@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins/font-face';

.color-inner-title {
  margin-bottom: 9px;
  @include font-face(700, 1em);
}

.color-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .color-item {
    height: 29px;
    width: 29px;
    background-color: $primary-color;
    margin-right: 23px;
    margin-bottom: 26px;
  }
}
