@import '../../../assets/styles/variables';

.title-bar {
  $root: &;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 55px;
  background-color: $background-color;
  border: $primary-border;
  color: $primary-color;

  #{$root}-breadcrumb {
    width: 1116px;
    height: 100%;
    padding: 18px auto 13px 23px;
    border: $primary-border;

    .breadcrumb {
      margin: 0;
    }
  }

  // #{$root}-utils {
  //   width: 368px;
  //   height: 100%;
  //   border: $primary-border;
  // }
}
