@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins/font-face';
@import '../../../assets/styles/mixins/custom-scrollbar';
.left-bar {
  $root: &;
  display: flex;
  flex-direction: column;
  width: 436px;
  height: 100%;
  background-color: $background-color;
  border-right: $primary-border;

  &-tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55px;
    border-bottom: $primary-border;
    padding-left: 29px;
    cursor: pointer;

    & > div {
      margin: 7px 0 8px 0;
      // height: $top-bar-item-height;
      // width: $top-bar-item-width;
      margin-right: 13px;
    }
  }

  &-item {
    flex-grow: 1;
    &:hover {
      cursor: pointer;
    }

    &-search {
      height: 26px;
      width: 26px;
      background-image: url('../../../assets/images/icons/vector.png');
      background-repeat: no-repeat;
    }

    &-hand {
      height: 40px;
      width: 40px;
      background-image: url('../../../assets/images/icons/hand.png');
      background-repeat: no-repeat;
    }
  }

  .categories {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: auto;

    @include custom-scrollbar();
    // &::-webkit-scrollbar {
    //   width: 20px;
    //   &-track {
    //     background-color: transparent;
    //   }
    //   &-thumb {
    //     background-color: $primary-color;
    //     border-radius: 8px;
    //     border: 7px solid transparent;
    //     background-clip: content-box;
    //   }
    // }

    flex-grow: 1;
    border-bottom: $primary-border;

    &-list {
      width: $category-list-width;
    }

    .left-scrollbar {
      width: $common-scrool-width;
      border-right: $primary-border;
      border-left: $primary-border;
    }
  }
}
