@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins/font-face';

.bill {
  border-bottom: $primary-border;
  border-right: $primary-border;
  padding-left: 44px;
  padding-top: 16px;

  .bill-title {
    @include font-face(700, 1em);
    margin-bottom: 15px;
  }

  .bill-item {
    @include font-face(400, 1em);
    margin-bottom: 11px;
    text-decoration: underline;
  }
}
