@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins/font-face';

.product-detail {
  height: 341px;
  width: 350px;
  padding: 0;
  padding: 26px 42px 25px 42px;
}

.dimentions {
  height: 188px;
  width: 350px;
}

.thickness,
.colors {
  height: 194px;
  width: 350px;
}

.colors {
  padding: 0;
  padding: 13px 72px 0 48px;
}
