@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins/font-face';

.inspector {
  > div {
    border-bottom: $primary-border;
    border-right: $primary-border;
    padding: 26px 0 27px 44px;
  }

  .footer {
    flex-grow: 1;
    height: 61px;
    line-height: 61px;
    margin: 0;
    padding: 0;
    padding-left: 44px;
    @include font-face(700, 1em);

    &:hover {
      cursor: pointer;
    }
  }

  .product-detail {
    height: 341px;
    width: 100%;
    padding: 0;
    padding: 26px 42px 25px 42px;
  }

  .dimentions {
    height: 188px;
    width: 100%;
  }

  .thickness,
  .colors {
    height: 194px;
    width: 100%;
  }

  .colors {
    padding: 0;
    padding: 13px 72px 0 48px;
  }
}
