* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;

  #root {
    @extend body;
  }
}

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #fefefe;
  border-radius: 4px;
}
*::-webkit-scrollbar-thumb {
  background-color: #fefefe;
  outline: 1px solid #fefefe;
  border-radius: 4px;
}
